.navbar-brand {
    font-size: 30px;
}

.navbar-nav, #displayName {
    color: white;
    text-align: right;
    font-size: 18px;
}

/* When mobile menu is out: 992px and smaller */
@media only screen and (max-width: 992px) {
    .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        padding-right: 0;
    }
    #appLogo {
        width: 30%;
    }
}

/* Desktop size: 992px & larger */
@media only screen and (min-width: 993px) {
    .navbar-brand {
        padding-left: 150px;
    }
    .navbar-nav {
        padding-right: 150px;
    }
    #appLogo {
        width: 50%;
    }
}