#authForm {
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 30px;
}

.loginContainer {
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 12px;
    background: white;
    box-shadow: 4px 4px 10px rgba(19, 19, 19, 0.432);

}

.btnContainer {
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
}

.accountSubmit {
    width: 100%;
}

.loginSuccess {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 25%;
}

#signUpBtn {
    background: none;
    border: none;
    color: rgb(13, 0, 201);
}